@page "/DonhangDetail/{id}"
@using ASM.Share.Models
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject ASM.Share.Models.IDonhangSvc _donhangService
@inject NavigationManager navigation
@inject IWebHostEnvironment env

<h3>Chi tiết đơn hàng</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Khách hàng</dt>
        <dd class="col-sm-10">
            @model.Khachhang.EmailAddress
        </dd>
        <dt class="col-sm-2">Ngày đặt</dt>
        <dd class="col-sm-10">
            @model.Ngaydat
        </dd>
        <dt class="col-sm-2">Tổng tiền</dt>
        <dd class="col-sm-10">
            @model.Tongtien
        </dd>
        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">
            @model.TrangthaiDonhang
        </dd>
        <dt class="col-sm-2">Ghi chú</dt>
        <dd class="col-sm-10">
            @model.Ghichu
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>Món ăn</th>
                <th>Hình</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.DonhangChitiets)
            {
                <tr>
                    <td>@item.MonAn.Name</td>
                    <td><img src="images/Monan/@item.MonAn.Hinh" style="width:150px"/></td>
                    <td>@item.Soluong</td>
                    <td>@item.Thanhtien</td>
                    <td>@item.Ghichu</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-info" href="/DonhangDialog/@model.DonhangID">Sửa</a> |
    <a class="btn" href="/DonhangList">Danh sách</a>
</div>


@code
{
    [Parameter]
    public string id { get; set; }
    //private string Tieude = "";

    public Donhang model;
    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(id) || id == "0")
        {
            navigation.NavigateTo("donhanglist", true); ;
        }
        else
        {
            model = _donhangService.GetDonhang(int.Parse(id));
        }
    }
}